@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    background: url(img/fon.png);
    background-size: cover;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

h1 {
    font-family: Roboto, bold;
    font-size: 20px;
    color: #707070;
    padding: 32px 0px 15px 15px;
}

.b {
    display: flex;
}

.list-container {
    width: 570px;
    height: 1080px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    margin-left: 150px;
    color: #707070;
}

.card--task {
    padding: 28px 0px 7px 30px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

.task-list__item {
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    width: 570px;
    height: 40px;
    margin-left: -40px;
}

ul {
    list-style-type: none;
    margin-top: -15px;
}

ul li:nth-child(odd) {
    background: #0606060A;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.workspace {
    display: flex;
}

.edit-form {
    border-radius: 0px 14px 14px 0px;
    padding: 15px;
    margin-top: 83px;
    width: 555px;
    height: 212px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    opacity: 0;
}

.task-list__description {
    padding-left: 15px;
}

.style--task {
    padding-left: 30px;
    color: #707070;
}

.style--hiprio {
    color: #707070;
    padding-left: 7px;
}

input[name="task_description"] {
    width: 510px;
    height: 24px;
    border: 1px solid #AAAAAABF;
    border-radius: 2px;
    margin: 5px 0px 15px 30px;
}

input[placeholder="Описание задачи"] {
    font: normal normal normal 14px/17px Roboto;
    color: #202020;
    padding-left: 5px;
}

input[name="task_hiprio"] {
    margin-left: 31.5;
}

.hiprio-align {
    display: flex;
    align-items: center;
}

input[name="done"] {
    margin-left: 15px;
}

.button {
    border-radius: 32px;
    width: 126px;
    height: 32px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.button--save {
    background-color: #3f88e8;
    color: #fff;
    border: 0;
    margin: 0px 15px 28px 30px;
}

.button--cancel {
    background-color: #fff;
    border: 1px solid #707070;
    color: #707070;
}

input[type="checkbox"] {
    width: 17px;
    height: 17px;
}

.hiprio-align>input {
    display: none;
    padding-left: 29px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+img {
    content: url("img/checkbox.svg");
    padding-left: 29px;
}

input[type="checkbox"]+img {
    content: url("img/checkbox-empty.svg");
    padding-left: 29px;
}

.align {
    display: flex;
    align-items: center;
    margin-left: -15px;
}

button[class="add"] {
    display: none;
}

button[class="add"]+img {
    content: url("img/Group%20416.svg");
}

.label-add {
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-left: auto;
    padding-right: 15px;
}

.add-pad {
    padding-left: 11px;
}

.tools {
    margin-left: auto;
}

.delete,
.edit {
    outline: none;
    border: 0;
    background: transparent;
}

.delete {
    padding-right: 13px;
}

img[src="img/hiprio.svg"] {
    padding-left: 15px;
}